@font-face {
    font-family: MaisonNeueBook;
    src: url(../font/MaisonNeueBook.otf);
}

@font-face {
    font-family: MaisonNeueBold;
    src: url(../font/MaisonNeueBold.otf);
    
}

@font-face {
    font-family: MaisonNeueLight;
    src: url(../font/MaisonNeueLight.otf);    
}

body, html {
    height: 100%;
    margin: 0;
    font-size: 0.9em;
}


.titlesite{
	position: fixed;
	padding-bottom: 100px;
	padding-left: 5%;
  z-index: 1;
}

h1{

font-family: MaisonNeueBold;
text-transform: uppercase;
font-size: 1.8em;
letter-spacing: 0.1em;
padding-top: 30px;
margin-bottom: -1px;
}


h2{
font-family: LarishAlte-SemiBold;
font-size: 0.9em;
color: grey;
letter-spacing: 0.08em;
line-height: 0.5em;
padding-top: 5px;
padding-bottom: 30px;

}


h3{

font-family: MaisonNeueBold;
font-size: 2em;
letter-spacing: 1px;
padding-top: 30px;
margin-bottom: -1px;
}


h4{

font-family: MaisonNeueLight;
font-size: 1em;
letter-spacing: 0.05em;
}





/*
.film { 
    background-color: red;
  background-size: cover;
  color: #fff;

}




#yonosuke{
  background-image: url("../images/yonosuke.jpg");
}

#thecameraman{
  background-image: url("../images/thecameraman.jpg");
}
#thesquare{
  background-image: url("../images/thesquare.jpg");
}

#theapartment{
  background-image: url("../images/theapartment.jpg");
}

*/


/*
.film{
 height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   position: relative; 
}
*/


 #movies{
padding-top: 150px;
}

.film{
padding-bottom: 200px;

}

.filmcover{
  display: block;
  margin: auto;
  width: 90%;
  
}



.description{

padding-left: 5%;
padding-right: 5%;
padding-top: 50px;
text-align: left;


}
/*
.whatsthemovie{
  margin-right: 3%
}
*/
.nameofthefilm{

 font-family: MaisonNeueBold;
 font-size: 4em;
 line-height: 50px;
 

}


.nameofthedirector{
   font-family: MaisonNeueBold;
   font-size: 1em;
   color: grey;
   margin-top: -30px; 
   

}

.moviedescription{

color: grey;
text-align: bottom;
font-size: 1em;
word-break: normal;
padding-left: 20%;
max-width: 550px;
}





